<%= form_for [@community ,@post] do |f| %>
  <div>
    <h5>Create a new Post</h5>
  </div>
  <% if flash[:notice] %>
    <p class="font-weight-bold text-danger"><%= flash[:notice] %></p>
  <% end %>
  <div class="form-group">
    <%= label_tag :title, "Title", class: "h5" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :body, "Body", class: "h5" %>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>
